//Color
$primary-color: #1db954;
$black: #121212;
$white: #ffffff;
$background-card: #181818;
$backgroundGrey: rgb(18, 18, 18);
$backgroundScrollbar: rgb(58, 58, 58);
$hoverColor: rgb(28, 28, 28);
$light-gray: #c6c6c6;

//Font
$font-sm: 16px;
$font-md: 22px;
$font-lg: 26px;