@import '../../styles/helpers/variables';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundGrey;
  border: none;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  transition: ease-in-out 0.05s;
  cursor: pointer;
  &:hover {
    background: $hoverColor;
  }
}
