@import '../../styles/helpers/variables';

.navbar {
  background-color: $backgroundGrey; /* Spotify green */
  color: #fff;
  padding: 25px 75px 25px 0;
  height: 100%;
  border-radius: 10px;
  margin-right: 20px;
}
