@import '@/styles/helpers/variables';

.library {
  position: relative;
  background-color: $backgroundGrey;
  color: $white;
  height: 70vh;
  border-radius: 10px;

  .listing {
    height: 70%;
    padding-top: 100px;
  }
}
