@import '@/styles/helpers/variables';

.navbar_item {
  margin: 10px 0;
  color: $light-gray;
  transition: 0.15s ease-in-out;
  display: flex;
  padding: 10px 0;
  gap: 15px;
  align-items: center;

  text-decoration: inherit;
  &:hover {
    cursor: pointer;
    color: white;
  }
}
