@import '@/styles/helpers/variables';

.artistHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  .backgroundImage {
    width: 100%;
    object-fit: cover;
  }

  .artistInfo {
    position: relative;
    // top: -4rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;

    margin-bottom: 20px;

    .artistName {
      font-size: 5rem;
      margin-bottom: 0.5rem;
    }

    .listeners {
      font-size: 1.5rem;
    }
  }

  .liked {
    color: $primary-color;
  }
}
