@import '../../styles/helpers/variables';

.card {
  background-color: $background-card;
  padding: 20px 15px;
  border-radius: 15px;
  color: $white;
  img {
    width: 100%;
  }

  .name {
    margin-top: 10px;
  }
}
