.albumHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #181818;
}

.albumImage {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.albumDetails {
  flex-grow: 1;
}

.albumTitle {
  font-size: 4em;
  margin: 0;
}

.albumArtistYear,
.albumStats {
  margin: 5px 0;
}
