@import '../../../styles/helpers/variables';

.artist_highlight {
  h2 {
    margin-bottom: 20px;
    font-size: $font-md;
  }

  &_content {
    background-color: $background-card;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 20px;

    h3 {
      font-size: $font-lg;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}