@import '@/styles/helpers/variables';

.popularAudios {
  margin-bottom: 20px;
  padding: 1rem;
  color: white;

  h2 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .audioItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
  }

  .showMore {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}
