@import '@/styles/helpers/variables';

.header {
  position: absolute;
  top: 10px;
  left: 25px;
  right: 25px;
  z-index: 1;
  height: 100px;

  .titleLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-gray;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $light-gray;
      gap: 15px;
    }

    .icon__library {
      cursor: pointer;
    }
  }
}
